@model CinemaECommerce.ViewModels.ValidateOTPVM

@{
    ViewData["Title"] = "ValidateOTP";
}
<div class="container">
    <h1>Validate OTP</h1>

    <div class="row">
        <div class="col-md-12">
            <form asp-action="ValidateOTP">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ApplicationUserId" class="form-control" />
                <div class="form-group">
                    <label asp-for="OTP" class="control-label"></label>
                    <input asp-for="OTP" class="form-control" />
                    <span asp-validation-for="OTP" class="text-danger"></span>
                </div>
            
                <div class="form-group mt-4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @if (@TempData["notification"] is not null)
    {
        <script>
            toastr.success('@TempData["notification"]')
        </script>
    }
    @if (@TempData["error-notification"] is not null)
    {
        <script>
            toastr.danger('@TempData["error-notification"]')
        </script>
    }
}
